@{
    ViewData["Title"] = "Index";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Chúng tôi là ai</h3>
                <img src="https://image.tienphong.vn/665x449/Uploaded/2019/xqeioxnexq/2018_10_10/tien_phong_spkt_xzme.jpg" alt="">
                <p>Chúng tôi là sinh viên của Đại học Sư phạm kỹ thuật thành phố Hồ Chí Minh</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Quá trình hình thành</h3>
                <img src="http://tvtgroup.com.vn/wp-content/uploads/2018/06/1-copy-1.jpg" alt="">

                <div class="history-desc">
                </div>
            </div>

            <div class="col_1_of_3 span_1_of_3">
                <h3>Mục tiêu phát triển</h3>
                <img src="http://static.tapchitaichinh.vn/400x240/images/upload/hongvan/direction-wallpaper-14_635373007328783926.jpg" alt="">

                <div>
                </div>
            </div>
        </div>
    </div>
</div>