
@model Website_BanDienThoai_Version1.Models.Users
@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-info" style="padding-left:40px;font-size:30px;text-align:center;">Delete User</h2>

<form method="post" asp-action="Delete" style="padding-left:50px;font-size:14px;">

    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" readonly class="text-danger"></div>
        <div class="form-group row">
            <label for="Name">Name</label>
            <input type="text" name="Name" asp-for="Name" readonly class="form-control input-sm" >
        </div>
        <div class="form-group row">
            <label for="UserName">UserName</label>
            <input type="text" name="UserName" asp-for="UserName" readonly class="form-control input-sm" >
        </div>
        <div class="form-group row">
            <label asp-for="Phone"></label>
            <input type="text" name="Phone"  asp-for="Phone"readonly class="form-control input-sm">

        </div>
        <div class="form-group row">
            <label for="Email">Email</label>
            <input type="email" name="Email" asp-for="Email"readonly class="form-control input-sm" >
        </div>
        <div class="form-group row">
            <label for="Password">Password</label>
            <input type="password" name="Password" asp-for="Password" readonly class="form-control input-sm">
        </div>
        <div class="form-group row">
            <label asp-for="DateOfBith">DayOfBirth</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='date'readonly class="form-control" asp-for="DateOfBith" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Gender">Gender</label>&nbsp;
            <label>
                <input disabled type="radio" asp-for="Gender" value=1 /> Male
            </label>&nbsp;
            <label>
                <input disabled type="radio" asp-for="Gender" value=0  /> Female
            </label>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
