
@model Website_BanDienThoai_Version1.Models.Users
@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-info" style="padding-left:40px;font-size:30px;text-align:center">Chỉnh sửa người dùng</h2>

<form method="post" asp-action="Edit" style="padding-left:50px;font-size:14px;">

    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div class="form-group row">
            <label for="Name">Tên</label>
            <input type="text" name="Name" asp-for="Name" class="form-control input-sm" autocomplete="off" data-val="true" >
        </div>
        <div class="form-group row">
            <label for="UserName">Tên đăng nhập</label>
            <input type="text" name="UserName" asp-for="UserName" class="form-control input-sm" autocomplete="off" data-val="true" >    
        </div>
        <div class="form-group row">
            <label asp-for="Phone">Số điện thoại</label>
            <input type="text" name="Phone" data-val="true" autocomplete="off"  asp-for="Phone" class="form-control input-sm" >
           
        </div>
        <div class="form-group row">
            <label for="Email">Email</label>
            <input type="email" name="Email" asp-for="Email" class="form-control input-sm" autocomplete="off" data-val="true" > 
        </div>
        <div class="form-group row">
            <label for="Password">Mật khẩu</label>
            <input type="text" name="Password" asp-for="Password" autocomplete="off" class="form-control input-sm" data-val="true" > 
        </div>
        <div class="form-group row">
            <label asp-for="DateOfBith">Ngày sinh</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='date' class="form-control" asp-for="DateOfBith" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Gender">Giới tính</label>&nbsp;
            <label>
                <input type="radio" asp-for="Gender" value=1 /> Nam
            </label>&nbsp;
            <label>
                <input type="radio" asp-for="Gender" value=0 /> Nữ
            </label>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Cập nhật">
            <a asp-action="Index" class="btn btn-success">Trở lại</a>
        </div>
    </div>
</form>
