
@{
    ViewData["Title"] = "Index";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h2>Liên hệ với chúng tôi</h2>
                    <form>
                        <div>
                            <span><label>Tên</label></span>
                            <span><input type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>E-mail</label></span>
                            <span><input type="text" class="textbox"></span>
                        </div>

                        <div>
                            <span><label>Ý kiến </label></span>
                            <span><textarea> </textarea></span>
                        </div>
                        <div>
                            <span><input type="submit" value="Submit" class="myButton"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col span_1_of_3">
                <div class="contact_info">
                    <h3>Tìm kiếm chúng tôi ở đây</h3>
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=%C4%90%E1%BA%A1i%20h%E1%BB%8Dc%20s%C6%B0%20ph%E1%BA%A1m%20k%E1%BB%B9%20thu%E1%BA%ADt%20HCM&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/nordvpn-coupon-code/"></a>
                        </div>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 400px;
                                width: 400px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 400px;
                                width: 400px;
                            }
                        </style>
                    </div>
                </div>
                <br>
                <div class="company_address">
                    <h3>Thông tin cửa hàng :</h3>
                    <p>Hoàng Diệu 2,Linh Chiểu,Thủ Đức,HCM, Việt Nam </p>
                    <p>Điện thoại:(00) 222 666 444</p>
                    <p>Email: <span><a href="https://www.facebook.com/nhoxlexit">TMDT.HCMUTE</a></span></p>
                    <p>Liên hệ qua: <span>https://www.facebook.com/nhoxlexit</span>
                </div>
            </div>
        </div>
    </div>
</div>
