<!DOCTYPE html>
<html>
<head>
    <title>Website Bán Điện thoại</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Client Signup Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/lib/clientSignup/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <!-- //web font -->
</head>
<body>
    @RenderBody()
    <!-- main -->
    <div class="main main-agileits">
        <h1>Đăng Ký Tài Khoản</h1>
        <div class="main-agilerow">
            <div class="signup-wthreetop">
                <h2>Chào mừng bạn đến với Website Bán Điện thoại</h2>
            </div>
            <div class="contact-wthree">
                <form action="#" method="post">
                    <h3>Bước 1 :</h3>
                    <div class="form-w3step1">
                        <input type="text" name="Name" placeholder="Họ và tên (*)" required="">
                        <input type="email" class="email agileits-btm" name="Email" placeholder="Địa chỉ Email (*)" required="">
                    </div>
                    <h3>Bước 2 :</h3>
                    <div class="form-w3step1">
                        <input type="text" name="UserName" placeholder="Tên đăng nhập (*)" required="">
                        <input type="password" name="Password" placeholder="Mật khẩu (*)" required="">
                        <input type="password" class="agileits-btm" name="ConfirmPassword" placeholder="Xác nhận mật khẩu (*)" required="">
                    </div>
                    <h3>Bước 3 :</h3>
                    <div class="form-w3step1 w3ls-formrow">
                        <input type="text" name="Phone" placeholder="Số điện thoại (*)" required="">
                        <input type="text" class="form-control" name="DateOfBith" placeholder="Ngày sinh (*)" required="" />
                    </div>
                    <div class="agileits-row2 w3ls-formrow2">
                        <input type="checkbox" id="brand2" value="">
                        <label for="brand2"><span></span>Tôi đã chấp nhận <a href="##">Các điều khoản Sử dụng.</a></label>
                    </div>
                    <input type="submit" value="Đăng ký">
                </form>
            </div>
        </div>
    </div>
    <!-- //main -->
    <!-- copyright -->
    <div class="w3copyright-agile">
        <p>© 2017 Client Signup Form. Đã đăng ký bản quyền | Thiết kế bởi <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
    </div>
    <!-- //copyright -->
</body>
</html>

