<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MANAGE WEBSITE</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="header"><a asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a></li>
    <li class="header"><a asp-area="Admin" asp-controller="User" asp-action="Index">User</a></li>
    <li class="header"><a asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">Special</a></li>
    <li class="header"><a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
</ul>

