<ul class="sidebar-menu" data-widget="tree">
    <li class="header">QUẢN LÝ WEBSITE</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="header"><a asp-area="Admin" asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
    <li class="header"><a asp-area="Admin" asp-controller="User" asp-action="Index">Người dùng</a></li>
    <li class="header"><a asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">Phân loại</a></li>
    <li class="header"><a asp-area="Admin" asp-controller="Category" asp-action="Index">Danh mục</a></li>
</ul>

