
@{
    Layout = "~/Areas/Customer/Views/Shared/_AccountView.cshtml";
}

<div class="text-info text-bold" style="text-align:center">
    CHÚC MỪNG BẠN ĐÃ ĐĂNG KÝ THÀNH CÔNG !!!

</div>
<div class="text-info text-bold" style="text-align:center">
    <h2>BẤM ĐĂNG NHẬP ĐỂ TIẾP TỤC VÀO MUA HÀNG !!!!!!!</h2>
    <a asp-area="Customer" asp-controller="Account" asp-action="Login" class="btn btn-primary">Đăng nhập</a>
    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary">Trang chủ</a>
</div>

