@model Website_BanDienThoai_Version1.Models.ViewModel.RegistrationViewModel
@{
    Layout = "~/Areas/Customer/Views/Shared/_AccountView2.cshtml";

}

@*<div class="row">
    @if (TempData["validationmessage"] != null)
    {
        string alertType = "alert alert-" + TempData["alertType"];
        <div class="@alertType">
            <strong>Alert!</strong> @TempData["validationmessage"]
        </div>
    }
</div>
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Đăng ký</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4" style="text-align:center;font-size:30px;font-style:normal;">Vui lòng nhập thông tin</h4>
                <form role="form" asp-action="Register" asp-controller="Account" method="post">
                    <div class="form-group mb-3">
                        <input type="text" name="UserName" asp-for="UserName" class="form-control input-sm" placeholder="UserName">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="Password" asp-for="Password" class="form-control input-sm" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" class="form-control input-sm" placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="email" name="Email" asp-for="Email" class="form-control input-sm" placeholder="Email Address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="Name" asp-for="Name" class="form-control input-sm" placeholder="FullName">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input type='date' class="form-control" asp-for="DateOfBith" />
                            <span asp-validation-for="DateOfBith" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="Phone" data-val="true" autocomplete="off" data-val-required="The Mobile field is required." asp-for="Phone" class="form-control input-sm" placeholder="Phone">
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">

                            <label>
                                <input type="radio" asp-for="Gender" value=1 /> Male
                            </label>
                            <label>
                                <input type="radio" asp-for="Gender" value=0 /> Female
                            </label>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                           required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        &nbsp;&nbsp;<small>&nbsp;Tôi đã đọc và đồng ý với <a href="#">các điều khoản.</a></small>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>*@
