@model Website_BanDienThoai_Version1.Models.SpecialTag
@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info" style="padding-left:40px;font-size:30px;text-align:center">
    Chỉnh sửa phân loại
</h2>

<form method="post" asp-action="Edit" style="padding-left:50px;font-size:14px;">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row text-bold">
            <div class="col-2">
                <label asp-for="Name">Tên phân loại</label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>

        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Cập nhật">
            <a asp-action="Index" class="btn btn-success">Trở lại</a>
        </div>
    </div>
</form>
